/* color */
.bg-primary {
  background: #4828C5
  ;
}

.bg-secondery {
  background: #B0C4B1;
}

.bg-accent {
  background: #FC4ECf;
}

.text-accent {
  color: #C2FF50;
}
.text-accent-2{
  color: #FC4ECf
}
.mobile-nav {
  @apply block md:hidden fixed top-10 py-2 w-full h-full bg-gray-900 duration-500;
} 
nav li a {
  @apply px-4 py-5 text-lg;
}
s
nav li a:hover {
  background-color: #F7E1D7;
}
/* hero */
h1 {
  font-family: 'Lobster', cursive;
  line-height: 1.5 !important;
}