/* color */
.bg-primary {
  background: #4828C5
  ;
}

.bg-secondery {
  background: #FA5E0A;
}

.bg-accent {
  background: #FC4ECf;
}

.bg-accent-2 {
  background: #4828C5;
}

.text-accent {
  color: #C2FF50;
}
.text-accent-2{
  color: #FC4ECf
}
.mobile-nav {
  @apply block md:hidden fixed top-10 py-2 w-full h-full bg-gray-900 duration-500;
} 
nav li a {
  @apply px-4 py-5 text-lg;
}
s
nav li a:hover {
  background-color: #F7E1D7;
}
/* hero */
h1 , a{
  font-family: 'Lobster', cursive;
  line-height: 1.5 !important;
}
a{
  font-size: 25px;
}
.stack-carousel{
  overflow: hidden; 
  overflow-y: hidden;
}
.newsWrapper{
  position: relative;
  padding-bottom: 20%;
  padding-top: 10%;
  overflow: hidden;
}
.iframe{
  overflow: hidden;
  align-self: center; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (max-width: 992px){
  .newsWrapper{
    padding-bottom: 75%;
  }
}
/* Default styles for larger screens */
.blog-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.main-post {
  width: 70%;
}

.post-list {
  width: 30%;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .blog-container {
    flex-direction: column;
  }

  .main-post {
    width: 100%;
    margin-bottom: 20px;
  }

  .post-list {
    width: 100%;
  }
}

